html,
body {
  padding: 0;
  margin: 0;
  font-family: LINESeedKR-Rg, LINESeedKR-Bd;
  background: rgb(16, 14, 20);
  word-break: keep-all;
}

p {
  font-family: 'LINESeedKR-Rg';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #F3F4F6;
}

@media (max-width: 600px) {
  p {
    text-align: center;
  }
  a {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  h6 {
    text-align: center;
  }
}

a {
  font-family: 'LINESeedKR-Rg';
  color: #f8810a;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
}

a:hover {
  color: #904e1d;
  text-decoration: underline;
}

h1 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 700;
  font-size: 4.1rem;
  line-height: 1.375;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

h2 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.375;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

h3 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.375;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

h4 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.375;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

h5 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.375;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

h6 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

body1 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

body2 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.57;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

subtitle1 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

subtitle2 {
  font-family: 'LINESeedKR-Rg';
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

overline {
  font-family: 'LINESeedKR-Rg';
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 2.5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6;
}

caption {
  font-family: 'LINESeedKR-Rg';
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  word-break: keep-all;
  margin: 0;
  color: #F3F4F6
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: rgb(16, 14, 20);
    overflow: hidden scroll;
    overscroll-behavior-y: none;
    --w3m-z-index: 1105
  }
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.tlogin-button {
  background: red;
}

.container__editor {
  font-family: 'LINESeedKR-Rg';
  font-size: 0.9rem;
  line-height: 1.5;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px #35333a;
  transition: box-shadow 0.1s ease-out 0s;
  font-variant-ligatures: common-ligatures;
}

.container__editor:hover {
  box-shadow: 0 0 0 2px #787385;
}

.container__editor textarea {
  outline: 0px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #90a4ae;
}
.token.punctuation {
  color: #9e9e9e;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e91e63;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #4caf50;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #795548;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #3f51b5;
}
.token.function {
  color: #f44336;
}
.token.regex,
.token.important,
.token.variable {
  color: #ff9800;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
